@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


body {
    background-color: hsl(225, 100%, 94%);
}

.imagem-de-fundo {
    width: 100%;
    height: 325px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 500px;
    border-radius: 15px;
}

.imagem-conteudo-principal {
    position: absolute;
    width: 100%;
    top: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    width: 100%;
    margin: auto;
    bottom: 0;
    height: 330px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: 'Red Hat Display', sans-serif;
}

.titulo {
    color: hsl(223, 47%, 23%);
    position: absolute;
    top: 35px;
}

.descricao {
    text-align: center;
    position: absolute;
    font-size: 14px;
    top: 75px;
}

.plano-anual {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
}

.icone-musica {
    width: 45px;
    position: absolute;
    left: 20px;
}

.preco {
    position: absolute;
    left: 80px;
}

.plano-anual .preco {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.annual-plan {
    font-weight: bold;
}

.preco-ano {
    color: rgba(0, 0, 0, 0.6);
}

.change {
    font-size: 13px;
    font-weight: 700;
    position: absolute;
    right: 20px;
}

.change:hover {
    text-decoration: none;
}

.pagamento {
    position: absolute;
    bottom: 50px;
    width: 80%;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    /* background-color: rgb(4, 4, 209); */
    background-color: #1E1FCD;
    color: #fff;
}

.cancelar {
    position: absolute;
    bottom: 20px;
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.cancelar:hover {
    color: rgba(0, 0, 0, 1.2);

}

@media (max-width: 576px) {
    .conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 300px;
    }

    .info {
        position: absolute;
        bottom: 25px;
    }

    .icone-musica {
        left: 10px;
    }

    .preco {
        left: 70px;
    }

    .change {
        right: 15px;
    }
}